.filterButton{
  display: flex;
  justify-content: flex-end;
}
.createButton{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;;
}
.card{
  padding: 40px;
}

mat-icon {
  &.color_green {
    color: #00ff00;
  }
  &.color_red {
    color: #ff0000;
  }
  &.pointer{
    cursor: pointer;
  }
  margin-right: 20px;
}
