.example-spacer {
  flex: 1 1 auto;
}
mat-icon{
  cursor: pointer;
}
.routeContainer{
  display: flex;
  justify-content: space-around;

  .route{
    min-width: 80px;
    text-align: center;
  }
  .lastRoute{
    min-width: 150px;
    text-align: center;
  }
}
.pointer {
  cursor: pointer;
  font-size: 14px;
}
.pointer:hover {
  font-size: 16px;
}
