<mat-toolbar color="primary">
  <mat-icon [routerLink]="['/home']" *ngIf="!this.user?.role">home</mat-icon>
  <span class="ms-4">{{ "constants.title" | translate }}</span>
  <span class="example-spacer"></span>
  <div class="routeContainer">
    <div *ngIf="this.user?.role" class="route">
      <span class="pointer" [routerLink]="['/dashboard']">
        {{ "navbar.dashboard" | translate }}
      </span>
    </div>
    <div *ngIf="this.user?.role" class="route">
      <span class="pointer" [routerLink]="['/assets']">
        {{ "navbar.assets" | translate }}
      </span>
    </div>
    <div *ngIf="this.user?.isRseg || this.user?.isAdmin" class="route">
      <span class="pointer" [routerLink]="['/incidents']">
        {{ "navbar.incidents" | translate }}
      </span>
    </div>
    <div *ngIf="this.user?.isAdmin" class="route">
      <span class="pointer" [routerLink]="['/userManage']">
        {{ "navbar.userManage" | translate }}
      </span>
    </div>
    <div *ngIf="!this.user?.role" class="route">
      <span class="pointer" [routerLink]="['/login']">
        {{ "navbar.login" | translate }}
      </span>
    </div>
  </div>
  <mat-icon class="ms-4" [routerLink]="['/profile']" *ngIf="this.user?.role">
    account_circle
  </mat-icon>
</mat-toolbar>
