#login{
  margin: 90px auto 114px auto;
  text-align: center;
}
.titleContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.divider{
  width: 200px;
  height: 3px;;
}
.formContainer{
  width: 600px;
  margin: auto;
}
