<div id="profile" class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-4 m-auto titleContainer">
      <h2>{{user?.username}}</h2>
      <div class="divider">
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  <div class="formContainer">
    <div class="row">
      <form
        class="col-lg-5 m-auto col-sm-12 p-0"
        [formGroup]="profileForm">
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{ "profile.password1" | translate }}</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'"
            formControlName="password">
            <button
              mat-icon-button
              matSuffix
              (click)="hide1 = !hide1"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1"
            >
              <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{ "profile.password2" | translate }}</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'"
            formControlName="confirmPassword">
            <button
              mat-icon-button
              matSuffix
              (click)="hide2 = !hide2"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2"
            >
              <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="back-next">
          <button mat-raised-button color="primary" (click)="updatePass()">
            {{ "buttons.updatePass" | translate }}
          </button>
        </div>
        <div class="back-next mt-4">
          <button mat-raised-button color="warn" (click)="logOut()">
            {{ "buttons.logOut" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
