<div class="home">
    <div class="head mb-3">
      <div class="title position-absolute" style="z-index: 1">
        <div class="w-100" [innerHtml]="'home.title' | translate"></div>
      </div>
      <img
        src="../../assets/images/header.jpg"
        class="container-fluid position-relative"
        style="padding: 0"
      />
    </div>
    <div class="mt-3 w-100 subtitleContainer">
      <div
        class="subtitle w-50 mt-3"
        [innerHtml]="'home.subtitle' | translate"
      ></div>
      <div class="mt-3">
        <img
          src="../../assets/images/universidadEuropea.png"
          class="w-50 position-relative"
          style="padding: 0"
        />
      </div>
    </div>
</div>
